@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; 
    background: linear-gradient(to right,#9c27b0,#8ecdff);
        
        
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;

}
.logo{
    flex-basis: 20px;
}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    text-transform:inherit;
	font-weight:500;
	font-size:1.3em;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
   border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
   
}
.feature img{
    width: 70px;
   
}
.feature{
    position: absolute;
     display: flex;
    color: #fff;
}
.feature div{
    margin-left: 30px;
}

.one{
    top: 450px;
    right: 50px;
}
.tow{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}
.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.mobile{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
        
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#upBtn{
    width: 15px;
    cursor: pointer;
}
#DownBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
  width: 40%;
    color: #fff;
}
.content .text h2{
font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
  font-size: 18px;
    margin: 20px 0;
    
}
.content .text a{
    
 	color:#000;
	background-color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:1.1em;
	display:inline-block;
	padding:15px 15px;
	letter-spacing:1px;
	border-radius:15px;
	margin-bottom:40px;
}
.content .text a:hover{
    background-color:blueviolet;
	transform:scale(1.1);
}

.content .image{
    width: 30%;
    padding: 30px 10px;
    margin: 30px ;
    
}
.content .image img{
    width: 300px;
    height: 580px;
}
.icons{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
}

.icons img{
  width: 60px; 
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}
.container{
    background: linear-gradient(to right,#9c27b0,#8ecdff);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
.footer{
	background-color:#000016;
	color:#fff;
	justify-content:space-between;
	padding:2em;
	display:flex;
}
.footer-title{
    color: blue;
	font-size:1.3em;
	font-weight:400;
}
.footer-title span{
	color:blue;
}
.footer .social-icon a{
	color:#fff;
	font-size:1.3em
}


















